<a href="https://www.kaggle.com/code/nahidsarkar/movierecommendation?scriptVersionId=275918870" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/the-movies-dataset/ratings.csv
/kaggle/input/the-movies-dataset/links_small.csv
/kaggle/input/the-movies-dataset/credits.csv
/kaggle/input/the-movies-dataset/keywords.csv
/kaggle/input/the-movies-dataset/movies_metadata.csv
/kaggle/input/the-movies-dataset/ratings_small.csv
/kaggle/input/the-movies-dataset/links.csv

In [2]:
credits = pd.read_csv("/kaggle/input/the-movies-dataset/credits.csv")
keywords = pd.read_csv("/kaggle/input/the-movies-dataset/keywords.csv")
links = pd.read_csv("/kaggle/input/the-movies-dataset/links.csv")
links_small = pd.read_csv("/kaggle/input/the-movies-dataset/links_small.csv")
movies_metadata = pd.read_csv("/kaggle/input/the-movies-dataset/movies_metadata.csv")
ratings = pd.read_csv("/kaggle/input/the-movies-dataset/ratings.csv")
ratings_small = pd.read_csv("/kaggle/input/the-movies-dataset/ratings_small.csv")

/tmp/ipykernel_226/1146000887.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_metadata = pd.read_csv("/kaggle/input/the-movies-dataset/movies_metadata.csv")

In [3]:
print(credits.columns)
print(keywords.columns)
print(links.columns)
print(links_small.columns)
print(movies_metadata.columns)
print(ratings.columns)
print(ratings_small.columns)

Index(['cast', 'crew', 'id'], dtype='object')
Index(['id', 'keywords'], dtype='object')
Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')
Index(['movieId', 'imdbId', 'tmdbId'], dtype='object')
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [4]:
credits.info()
keywords.info()
links.info()
links_small.info()
movies_metadata.info()
ratings.info()
ratings_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  45843 non-null  int64
 1   imdbId   45843 non-null  int64
 2   tmdbId   45624 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.0 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   imdbId   9125 non-null   int64
 2   tmdbId   9112 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 214.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [5]:
print("--- Checking for 100% Identical Rows ---")

print(f"credits: {credits.duplicated().sum()}")
print(f"keywords: {keywords.duplicated().sum()}")
print(f"ratings: {ratings.duplicated().sum()}")
print(f"ratings_small: {ratings_small.duplicated().sum()}")
print(f"links: {links.duplicated().sum()}")
print(f"links_small: {links_small.duplicated().sum()}")
print(f"movies_metadata: {movies_metadata.duplicated().sum()}")

--- Checking for 100% Identical Rows ---
credits: 37
keywords: 987
ratings: 0
ratings_small: 0
links: 0
links_small: 0
movies_metadata: 13

In [6]:
print("\n--- Checking for Duplicate Keys ---")

print(f"movies_metadata 'id' duplicates: {movies_metadata.duplicated(subset=['id']).sum()}")

print(f"links 'movieId' duplicates: {links.duplicated(subset=['movieId']).sum()}")
print(f"links 'tmdbId' duplicates: {links.duplicated(subset=['tmdbId']).sum()}")
print(f"links_small 'movieId' duplicates: {links_small.duplicated(subset=['movieId']).sum()}")
print(f"links_small 'tmdbId' duplicates: {links_small.duplicated(subset=['tmdbId']).sum()}")

print(f"ratings duplicates: {ratings.duplicated(subset=['userId', 'movieId']).sum()}")
print(f"ratings_small duplicates: {ratings_small.duplicated(subset=['userId', 'movieId']).sum()}")

print(f"credits duplicates: {credits.duplicated(subset=['id']).sum()}")
print(f"keywords duplicates: {keywords.duplicated(subset=['id']).sum()}")

--- Checking for Duplicate Keys ---
movies_metadata 'id' duplicates: 30
links 'movieId' duplicates: 0
links 'tmdbId' duplicates: 248
links_small 'movieId' duplicates: 0
links_small 'tmdbId' duplicates: 12
ratings duplicates: 0
ratings_small duplicates: 0
credits duplicates: 44
keywords duplicates: 987

In [7]:
credits = credits.drop_duplicates()
print(f"credits: {credits.duplicated().sum()}")
credits = credits.drop_duplicates(subset=['id'])
print(f"credits duplicates: {credits.duplicated(subset=['id']).sum()}")

credits: 0
credits duplicates: 0

In [8]:
keywords = keywords.drop_duplicates()
print(f"keywords: {keywords.duplicated().sum()}")
print(f"keywords duplicates: {keywords.duplicated(subset=['id']).sum()}")

keywords: 0
keywords duplicates: 0

In [9]:
movies_metadata = movies_metadata.drop_duplicates(subset=['id'])
print(f"movies_metadata: {movies_metadata.duplicated().sum()}")
print(f"movies_metadata duplicates: {movies_metadata.duplicated(subset=['id']).sum()}")

movies_metadata: 0
movies_metadata duplicates: 0

In [10]:
links = links.drop_duplicates(subset=['tmdbId'])
print(f"links: {links.duplicated().sum()}")
print(f"links duplicates: {links.duplicated(subset=['tmdbId']).sum()}")

links: 0
links duplicates: 0

In [11]:
links_small  = links_small .drop_duplicates(subset=['tmdbId'])
print(f"links_small : {links_small .duplicated().sum()}")
print(f"links_small  duplicates: {links_small .duplicated(subset=['tmdbId']).sum()}")

links_small : 0
links_small  duplicates: 0

In [12]:
all_ratings = pd.concat([ratings, ratings_small])

In [13]:
all_ratings.shape

(26124293, 4)

In [14]:
all_links = pd.concat([links,links_small])

In [15]:
all_links.shape

(54708, 3)

In [16]:
credits_keywords = pd.concat([credits,keywords])

In [17]:
credits_keywords.shape

(90864, 4)

In [18]:
movies_metadata['id'] = pd.to_numeric(movies_metadata['id'], errors='coerce')

# 2. Now, convert from float64 to Int64 (which allows <NA>)
movies_metadata['id'] = movies_metadata['id'].astype('Int64')

In [19]:
movies_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45436 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45436 non-null  object
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45436 non-null  object
 3   genres                 45436 non-null  object
 4   homepage               7777 non-null   object
 5   id                     45433 non-null  Int64
 6   imdb_id                45419 non-null  object
 7   original_language      45425 non-null  object
 8   original_title         45436 non-null  object
 9   overview               44482 non-null  object
 10  popularity             45431 non-null  object
 11  poster_path            45050 non-null  object
 12  production_companies   45433 non-null  object
 13  production_countries   45433 non-null  object
 14  release_date           45349 non-null  object
 15  revenue                45430 non-null  float64
 16  runtime                45173 non-null  float64
 17  spoken_languages       45430 non-null  object
 18  status                 45349 non-null  object
 19  tagline                20401 non-null  object
 20  title                  45430 non-null  object
 21  video                  45430 non-null  object
 22  vote_average           45430 non-null  float64
 23  vote_count             45430 non-null  float64
dtypes: Int64(1), float64(4), object(19)
memory usage: 8.7+ MB

In [20]:
movies_metadata.shape

(45436, 24)

In [21]:
movies = movies_metadata.merge(credits_keywords,on='id')

In [22]:
movies.shape

(90864, 27)

In [23]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",NaN
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,NaN,NaN,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
2,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",NaN
3,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,"[{'id': 10090, 'name': 'board game'}, {'id': 1..."
4,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",NaN

In [24]:
movies = movies.drop_duplicates()
print(f"movies: {movies.duplicated().sum()}")
movies = movies.drop_duplicates(subset=['id'])
print(f"movies duplicates: {movies.duplicated(subset=['id']).sum()}")

movies: 0
movies duplicates: 0

In [25]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",NaN
2,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",NaN
4,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",NaN
6,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",NaN
8,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",NaN

In [26]:
movies.shape

(45432, 27)

In [27]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45432 entries, 0 to 90862
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45432 non-null  object
 1   belongs_to_collection  4488 non-null   object
 2   budget                 45432 non-null  object
 3   genres                 45432 non-null  object
 4   homepage               7774 non-null   object
 5   id                     45432 non-null  Int64
 6   imdb_id                45415 non-null  object
 7   original_language      45421 non-null  object
 8   original_title         45432 non-null  object
 9   overview               44478 non-null  object
 10  popularity             45429 non-null  object
 11  poster_path            45046 non-null  object
 12  production_companies   45429 non-null  object
 13  production_countries   45429 non-null  object
 14  release_date           45345 non-null  object
 15  revenue                45429 non-null  float64
 16  runtime                45172 non-null  float64
 17  spoken_languages       45429 non-null  object
 18  status                 45348 non-null  object
 19  tagline                20401 non-null  object
 20  title                  45429 non-null  object
 21  video                  45429 non-null  object
 22  vote_average           45429 non-null  float64
 23  vote_count             45429 non-null  float64
 24  cast                   45432 non-null  object
 25  crew                   45432 non-null  object
 26  keywords               0 non-null      object
dtypes: Int64(1), float64(4), object(22)
memory usage: 9.7+ MB

In [28]:
movies = movies.merge(all_links,left_on='id',right_on='tmdbId')

In [29]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,cast,crew,keywords,movieId,imdbId,tmdbId
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",NaN,1,114709,862.0
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",NaN,1,114709,862.0
2,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",NaN,2,113497,8844.0
3,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",NaN,2,113497,8844.0
4,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",NaN,3,113228,15602.0

In [36]:
movies = movies.drop_duplicates()
print(f"movies: {movies.duplicated().sum()}")
movies = movies.drop_duplicates(subset=['id'])
print(f"movies duplicates: {movies.duplicated(subset=['id']).sum()}")

movies: 0
movies duplicates: 0

In [37]:
movies.shape

(45432, 30)

In [43]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,vote_count,cast,crew,keywords,movieId,imdbId,tmdbId,userId,rating,timestamp
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",NaN,1,114709,862.0,7,3.0,851866703
247,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",NaN,2,113497,8844.0,15,2.0,1134521380
354,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",NaN,3,113228,15602.0,5,4.0,1163374957
413,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",NaN,4,114885,31357.0,19,3.0,855192868
426,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",NaN,5,113041,11862.0,15,4.5,1093070098